calysto_bash

numpy
pandas
matplotlib
seaborn
ipywidgets >= 8.0
ipympl

ipythontutor
nbautoeval

jupyter
jupytext
jupyterlab-myst
jupyterlab-courselevels
jupyterlab-tpt
# see also notebooks/requirements-rtd.txt
#
# required by commons.py
colorama
click
