calysto_bash

numpy
pandas
matplotlib
seaborn
ipywidgets >= 8.0
ipympl

ipythontutor
nbautoeval

jupyter
jupytext
jupyterlab-myst
jupyterlab-courselevels
jupyterlab-tpt
jupyter-book
sphinxcontrib-mermaid
