jupyter
jupytext
jupyterlab-myst

# for commons.py
-r requirements-commons.txt

# what is needed by the notebooks
-r requirements-local.txt

# developer convenience
-r requirements-dev.txt

# see also notebooks/requirements-rtd.txt
#
